.app-header p1 {
  font-size: 1.5em;
  color: black;
  margin: 0.5em;
  position: relative;
  left: 4%;
}

.app-header p2 {
  font-size: 1.5em;
  color: black;
  margin: 0.5em;
  padding: 3%;
  position: relative;
}